@import url('https://fonts.googleapis.com/css?family=Overlock:400i');
.title{
    font-family: 'Overlock', cursive;
    font-size: 32px;
}
.subtitle{
    font-family: 'Overlock', cursive;
    font-size: 18px;
    padding: 16px;
    padding-top: 0px;
}
.mcontent {
    padding: 40px 28px;
    border-radius: 2px;
  }
main{
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-size: 45px;
    line-height: 48px;
}
h2 {
    font-size: 28px;
    line-height: 40px;
}
p{
    text-indent: 1em;
    font-size: 17px;
}
.title a{
    color: #fff;
    text-decoration: none;
}