@import url('https://fonts.googleapis.com/css?family=Audiowide');

body{
  margin: 0;
  padding: 0;
}
.page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 要素をflexboxに対応させる */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* 縦方向の中央揃え */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* 横方向の中央揃え */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* 子要素の並びを上から下にする（要素の改行に対応） */
}
.index{
  margin: 0;
  padding: 0;
  background-image: url(beach_2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.blurbox{
  padding: 0.5vw;
  font-size: 7vh;
  text-shadow:0px 0px 20px black;
    width: 80vw;
    height: 80vh;
    color: white;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* 要素をflexboxに対応させる */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* 縦方向の中央揃え */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* 横方向の中央揃え */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* 子要素の並びを上から下にする（要素の改行に対応） */
            /* background: rgba(255,255,255,0.50); */
            background: rgba(0,0,0,0.75);
            border-radius: 5px;
            /* ５秒かけてアニメーションする */
-webkit-animation-duration: 3s;
animation-duration: 3s;
font-weight: bold;
font-family: 'Audiowide', cursive;
}
.belongings{
  margin: 0;
  padding: 0;
  background-image: url(img147h94957_1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-shadow: 0px 0px 8px black;
}
.basic{
  margin: 0;
  padding: 0;
  background-image: url(kapibara.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-shadow: 0px 0px 8px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 要素をflexboxに対応させる */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* 縦方向の中央揃え */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* 横方向の中央揃え */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* 子要素の並びを上から下にする（要素の改行に対応） */
}
.koutei_1{
  margin: 0;
  padding: 0;
  background-image: url(senko.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-shadow: 0px 0px 8px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 要素をflexboxに対応させる */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* 縦方向の中央揃え */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* 横方向の中央揃え */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* 子要素の並びを上から下にする（要素の改行に対応） */
}
.belobox{
  width: 80vw;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 要素をflexboxに対応させる */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* 縦方向の中央揃え */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* 横方向の中央揃え */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* 子要素の並びを上から下にする（要素の改行に対応） */
}
h1{
  font-size: 5vh;
  margin: 0;
  padding:0;
}
h2{
  font-size: 5vh;
  margin: 3px;
  padding:0;
}
.belolist{
  font-size: 4vh;
  width: 70vw;
}
.belocaution{
  font-family: cursive;
    font-size: 2vh;
}
.nittei{
  margin: 5vh;
}
.cau{
  margin: 0;
  padding: 0;
  background-image: url(bbqhowto.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-shadow: 0px 0px 8px black;
}
.caution{

    width: 80vw;
}
.basicbox{
    width: 80vw;
    height: 80vh;
}
